h1 {
	color: navy;
	font-style: italic;
}

.note {
	color: black;
	padding-top: 3px;
	font-size: 15px;
}

.error {
	color: red;
	background: lightgray;
	font-size: 20px;
	border-style: solid;
	border-radius: 2px;
	border-color: black;
	padding: 10px;
}

button {
	margin-left: 20px;;
}
